@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Tiny5&display=swap");

body {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Consolas, "Courier New", Courier, "Noto Sans JP", monospace;
    color: #eeefff;
    background: #011627;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
}

#console-main {
    flex: 1;
    min-width: 0;
    height: 100%;
    color: #eeefff;
    font-family: Consolas, "Courier New", Courier, "Noto Sans JP", monospace;
    padding-left: 10px;
    overflow-y: auto;
}

#console-main a {
    color: #21c7a8;
}

#console-main a:hover {
    background: #21c7a8;
    color: #eeefff;
}

#output-display {
    width: 100%;
    height: auto;
    white-space: wrap;
}

.log {
    word-break: break-all;
    white-space: pre-wrap;
}

#input-box {
    width: 100%;
    height: auto;
    white-space: wrap;
    text-align: left;
    display: block;
}

#input-box[data-enable="false"] {
    display: none;
}

#user-input {
    word-break: break-all;
}

#status-display {
    width: 400px;
    height: 100%;
    display: none;
    flex-shrink: 0;
    padding: 10px;
    box-sizing: border-box;
    border: #eeefff solid 2px;
    overflow-y: auto;
}

#status-header {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

hr {
    border: none;
    height: 2px;
    background-color: #eeefff; /* 好きな色 */
}

#status-display .header2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

#status-display table {
    margin: 10px;
    border-collapse: collapse;
    border: #eeefff solid 5px;
}

#status-display caption {
    font-weight: bold;
}

#status-display thead,
#status-display tfoot {
    background-color: #1d3b53;
}

#status-display th,
#status-display td {
    border: 2px solid #eeefff;
    padding: 5px 10px;
    text-align: center;
}

#status-display tr.used {
    background-color: #eeefff;
    color: #011627;
}

#status-display tr.used th,
#status-display tr.used td {
    border-color: #1d3b53;
}
